.git.local
.git.remote
flags
images
imagelist
lib
*.lnk
*.mdb
*.tmp
*.bak
*.swp
*.exe
*.dll
*.so
*.ppu
*.dcu
*.zip
*.7z
*.ico
*.dbg
tools/bugout/bugout
tools/bugout/lib/x86_64-linux/bugout.or
examples/torment/torment
examples/torment/torment.dbg
examples/torment/lib/x86_64-linux/torment.or
examples/clock/clock
examples/clock/lib/x86_64-linux/clock.or
examples/hilite/hilite
examples/hilite/lib/x86_64-linux/hilite.or
examples/hilite/hilite.dbg
examples/easer/easer.dbg
examples/easer/lib/x86_64-linux/easer.or
examples/easer/easer
examples/docker/docker
examples/docker/lib/x86_64-linux/docker.or
examples/docker/docker.dbg
examples/pandrag/pandrag.dbg
examples/pandrag/lib/x86_64-linux/pandrag.or
examples/pandrag/pandrag
Widgets/Magnify/hello
Widgets/Magnify/lib/x86_64-linux/magnify.or
Widgets/Magnify/magnify
Widgets/Magnify/magnify_1.0-1/usr/local/bin/magnify
Widgets/CpuGraph/lib/x86_64-linux/cpugraph.or
Widgets/CpuGraph/cpugraph_1.0-1/usr/local/bin/cpugraph
Widgets/CpuGraph/cpugraph
Widgets/FontView/lib/x86_64-linux/fontview.or
Widgets/FontView/fontview
Widgets/ColorMix/lib/x86_64-linux/colormix.or
Widgets/ColorMix/colormix_1.0-1/usr/local/bin/colormix
Widgets/ColorMix/colormix
Tests/PopupType/lib/x86_64-linux/popuptype.or
Tests/PopupType/popuptype
Tests/Floater/lib/x86_64-linux/floater.or
Tests/Floater/floater
Tests/TestData/lib/x86_64-linux/testdata.or
Tests/TestData/testdata
Tests/FirstStart/lib/i386-linux/firststart.or
Tests/CodebotCtrls/lib/x86_64-linux/codebotctrls.or
Tests/CodebotCtrls/codebotctrls
Tests/GtkFocus/lib/x86_64-linux/gtkfocus.or
Tests/GtkFocus/gtkfocus
Tests/CodebotGraph/lib/x86_64-linux/drawit.or
Tests/CodebotGraph/drawit
Tests/build32/lib/i386-linux/build32.or
Tests/UnityTray/lib/x86_64-linux/unitytray.or
Tests/UnityTray/unitytray
Tests/Input/keygrabber/keygrabber
Tests/Input/keygrabber/lib/x86_64-linux/keygrabber.or
Tests/TestTray/lib/x86_64-linux/testtray.or
Tests/TestTray/testtray
Tests/netwm/lib/x86_64-linux/newwm.or
Tests/netwm/newwm
Streaming/Capture/lib/x86_64-linux/streamcap.or
Streaming/Capture/streamcap
Streaming/recordme/lib/x86_64-linux/recordme.or
Streaming/recordme/recordme
makedeb
Database/sqlclient/lib/x86_64-linux/sqlclient.or
Terminal/cpchange/cpchange
Deploy/makedeb/lib/x86_64-linux/makedeb.or
Deploy/makedeb/makedeb
Deploy/makedeb/makedeb_1.0-1/usr/local/bin/makedeb
Cloud/cldstore/lib/x86_64-linux/cldstore.or
Cloud/cldstore/cldstore
Files/BigEdit/lib/x86_64-linux/bigedit.or
lib/i386-linux/makedeb.or
lib/x86_64-linux/makedeb.or
